[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shichun
[access "refs/for/refs/*"]
	read = group user/shichun
	push = group user/shichun
	label-Code-Review = -2..+2 group user/shichun
	label-Verified = -1..+1 group user/shichun
	rebase = group user/shichun
	removeReviewer = group user/shichun
	submit = group user/shichun
[access "refs/heads/*"]
	read = group user/shichun
	create = group user/shichun
	push = +force group user/shichun
	pushMerge = group user/shichun
[access "refs/tags/*"]
	push = group user/shichun
	push = +force group user/shichun
